<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Symfony2Social{% endblock %}</title>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
	<script type="text/javascript" language="Javascript" src="/js/main.js"></script>
</head>
<body>
<div class="content">
	{% block content %}
	{% endblock %}
</div>

</body>
</html>
