body    		{	font: Verdana 14px; text-align: center; background-color: #eee;padding:0;margin:0;text-align:center;	}
a, a:visited    {	color: blue; text-decoration: none;	}
a:hover 		{	color: #999;	}
div#main		{	margin: 10px auto; padding: 8px; width: 600px; text-align: left; border: 1px solid #bbb; background-color: #fff;	}
div.output  	{	margin: 10px 0 5px 0;	}
.bad    		{	font-weight: bold; color: red;	}
.good  	 		{	font-weight: bold; color: green;	}
pre 			{	margin: 6px; font-family: monospace;	}
.footer 		{	text-align: center; color: #888;	}
.footer a		{	color: #666;	}
li      		{	padding: 3px 0 3px 0;	}
h4				{	padding: 0;	margin: 0;	}
ul	li	ul li	{	padding: 1px 0 1px 0;	}
label	{	font-weight:bold;font-size:.9em;	}
p, div	{	text-align:left;	}


#userbar-welcome, #userbar-menu, #loginbar, #facebookbar, #twitterbar, #registerbar
{	float:left;clear:none;padding: 5px 10px;margin: 0px auto;text-align:center;	}

#topbar	{
width:100%;height;36px;
background:#fff;
text-align:center;vertical-align:middle;margin: 0px auto;
border:1px solid black;
}
#userbar	{
float:left;
vertical-align:middle;text-align:left;
/* border:1px solid black; */
min-width: 950px;
/*margin: 0 auto;*/
margin:0 10% 0 10%;
padding:8px 25px 0 25px;
}
#userbar-welcome	{
width:300px;
text-align:left;
padding: 0 10px;
}

#userbar-menu	{
width:600px;
text-align: left;
padding: 0 10px;
}

#loginbar	{
width:600px;
}

#facebookbar	{
width:75px;
}

#twitterbar	{
width:75px;
}

#welcomebar	{

}

#registerbar	{
width:100px;
}
